<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCr4zoue1MaRcuO83WYWCmUSrgrg-NU5Zc</string>
	<key>GCM_SENDER_ID</key>
	<string>160007639419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>winsdomdraft</string>
	<key>PROJECT_ID</key>
	<string>wisdom-draft</string>
	<key>STORAGE_BUCKET</key>
	<string>wisdom-draft.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160007639419:ios:9b6fd61466237853daadde</string>
</dict>
</plist>